{% block subnav %}
<div class="col-xs-2 fixnav">
  <ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="350"
      role="tablist">
    {% block subsections %}
    {% endblock %}
  </ul>
</div>
{% endblock %}
