<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Go Indy - {% block title %}{% endblock %}</title>
  {{ include('TTMainBundle:Default:css_imports.html.twig') }}
  {{ include('TTMainBundle:Default:jquery.html.twig') }}
  {{ include('TTMainBundle:Default:bootstrap.html.twig') }}
  {{ include('TTMainBundle:Default:custom_css.html.twig') }}
</head>
<body id="content" data-spy="scroll" data-target=".fixnav">
  {% block navbar %}
  {% endblock %}
  <div id="main-flash" class="container-fluid">
    {% block main_flash %}
    {% endblock %}
  </div>
  <div class="container-fluid">
    <div class="row">
      {% block subnav %}
      {% endblock %}
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>
</html>

